#Compiled outputs
/dist
/tmp
/public

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode

# dotenv environment variables file
.env

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

# System Files
.DS_Store
